<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Movie Hunter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
      media="all"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/jquery-func.js') }}"
    ></script>
    <!--[if IE 6
      ]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all"
    /><![endif]-->
  </head>
  <body>
    <!-- START PAGE SOURCE -->
    <div id="shell">
      <div id="header">
        <h1 id="logo"><a href="#">Movie Hunter</a></h1>
        <div id="navigation">
          <ul>
            <li><a class="active" href="#">HOME</a></li>
          </ul>
        </div>
        <div id="sub-navigation">
          <ul>
            <li><a href="#">Movies</a></li>
          </ul>
          <div id="search">
            <form id="search" action="#" method="get" accept-charset="utf-8">
              <label for="search-field">SEARCH</label>
              <input type="text" name="search" value="" id="search-field" class="blink search-field"  />
              <input type="submit" value="GO!" class="search-button" />
            </form>
          </div>
        </div>
      </div>
      <div id="main">
        <div id="content">
          <div class="row">
            <div class="col-md-5">
              <div class="panel panel-default">
                <div class="panel-heading">Search Results</div>
                <table id="results" class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Movie</th>
                      <th>Released</th>
                      <th>Tagline</th>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>
            <div class="col-md-7">
              <div class="panel panel-default">
                <div class="panel-heading" id="title">Details</div>
                <div class="row">
                  <div class="col-sm-4 col-md-4">
                    <img src="" class="well" id="poster" />
                  </div>
                  <div class="col-md-8 col-sm-8">
                    <h4>Crew</h4>
                    <ul id="crew"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cl">&nbsp;</div>
      </div>
    </div>
    <!-- END PAGE SOURCE -->

    <script type="text/javascript">
      $(function () {
        function showMovie(title) {
          $.get(
            "/movie/" + encodeURIComponent(title),
            function (data) {o
              if (!data) return;
              $("#title").text(data.title);
              $("#poster").attr(
                "src",
                "https://neo4j-documentation.github.io/developer-resources/language-guides/assets/posters/" +
                  encodeURIComponent(data.title) +
                  ".jpg"
              );
              const $list = $("#crew").empty();
              data.cast.forEach(function (cast) {
                $list.append(
                  $(
                    "<li>" +
                      cast.name +
                      " " +
                      cast.job +
                      (cast.job == "acted" ? " as " + cast.role : "") +
                      "</li>"
                  )
                );
              });
            },
            "json"
          );
          return false;
        }
        function search() {
          const query = $("#search").find("input[name=search]").val();
          $.get(
            "/search?q=" + encodeURIComponent(query),
            function (data) {
              const t = $("table#results tbody").empty();
              if (!data || data.length == 0) return;
              data.forEach(function (movie) {
                $(
                  "<tr><td class='movie'>" +
                    movie.title +
                    "</td><td>" +
                    movie.released +
                    "</td><td>" +
                    movie.tagline +
                    "</td></tr>"
                )
                  .appendTo(t)
                  .click(function () {
                    showMovie($(this).find("td.movie").text());
                  });
              });
              showMovie(data[0].title);
            },
            "json"
          );
          return false;
        }

        $("#search").submit(search);
        search();
      });
    </script>
  </body>
</html>
